<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheevoService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="CheevoService.Properties.Settings.ConnectionString"
            connectionString="Data Source=sample.s3db;DateTimeFormat=Ticks" />
    </connectionStrings>
    <applicationSettings>
        <CheevoService.Properties.Settings>
            <setting name="CheevoPacksDirectory" serializeAs="String">
                <value>TestCheevos</value>
            </setting>
        </CheevoService.Properties.Settings>
    </applicationSettings>
</configuration>