<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OfficeCheevosClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OfficeCheevosClient.Properties.Settings>
            <setting name="updateTimeInSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="serverRSSURL" serializeAs="String">
                <value>http://localhost:5001/listing?user=</value>
            </setting>
            <setting name="lastUpdated" serializeAs="String">
                <value />
            </setting>
            <setting name="serverURL" serializeAs="String">
                <value>http://localhost:5001/</value>
            </setting>
        </OfficeCheevosClient.Properties.Settings>
    </userSettings>
</configuration>